<html>

<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
</head>

<body>
    <h1 id="title">Snake and Ladder </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
            <div class="box-row">1</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-10">
            <div class="box-row">2</div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
            <div class="box-row">3</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
            <div class="box-row">4</div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-11">
            <div class="box-row">5</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-8 col-lg-10">
            <div class="box-row">6</div>
        </div>
        <div class="col-xs-2 col-sm-6 col-md-4 col-lg-2">
            <div class="box-row">7</div>
        </div>
    </div>
</body>

</html>